.container {
    width: 600px;
    height: 800px;
    margin: 30px auto;
}
.xAxis, .yAxis {
    padding-left: 10%;
}
.xAxis p, .yAxis p{
    margin-bottom: 3px;
}
input {
    width: 80%;
}

select {
    width: 20%;
    display: block;
    margin: 15px auto;
}
